<div class="background">

  <br>

  <div class="d-flex justify-content-center">
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="p-2">
            <h1>Create</h1>
          </div>
          <div class="p-2 justify-content-center"> <i class="fas fa-book"></i></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="p-2">
            <h1>Share</h1>
          </div>
          <div class="p-2 justify-content-center"> <i class="fas fa-retweet"></i></div>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <div class="d-flex align-items-center">
          <div class="p-2">
            <h1>Review</h1>
          </div>
          <div class="p-2 justify-content-center"> <i class="fas fa-search"></i></div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <div class="d-flex justify-content-center">

    <p class="lead">
      Welcome to the monster forge, where you can create your own monsters for the DnD 5e System and put them into
      your
      personalized compendium.
      Create, share and review the content of other creators.
    </p>
  </div>
</div>
