/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/scss/bootstrap";
@import "./dndv2.scss";

@font-face {
  font-family: dndstandard;
  src: url(./assets/standard.otf);
}

div {
  font-family: dndstandard;
}
